<div class="tech-container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <!-- <h2 class="title">Log in</h2> -->
        <img src="assets/logo.png" width="220px" />
        <br /><br />
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="input-box required">
              <label class="input-label">Username</label>
              <input
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                type="email"
                [(ngModel)]="loginObj.email"
                name="email"
                required
              />
            </div>
          </div>
          <div class="col-sm-12 col-lg-12">
            <div class="input-box required">
              <label class="input-label">Password</label>
              <input
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                type="password"
                [(ngModel)]="loginObj.password"
                name="Password"
                required
              />
            </div>
          </div>
        </div>
        <button class="btn solid" type="button" class="btn" (click)="onLogin()">
          Login
        </button>
        <p class="social-text">Or Log in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon g-signin2" data-onsuccess="onSignIn">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form action="#" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="input-box required">
              <label class="input-label">Username</label>
              <input
                type="username"
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                id="username"
                name="username"
                [(ngModel)]="signupObj.name"
                required="required"
              />
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-box required">
              <label class="input-label">Phone</label>
              <input
                type="phone"
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                id="phone"
                name="phone"
                [(ngModel)]="signupObj.phone"
                required="required"
              />
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-box required">
              <label class="input-label">Email</label>
              <input
                type="email"
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                id="email"
                name="email"
                [(ngModel)]="signupObj.email"
                required="required"
              />
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-box required">
              <label class="input-label">Password</label>
              <input
                type="password"
                class="input-1"
                (focus)="setFocus(true)"
                (blur)="setFocus(false)"
                id="password"
                name="password"
                [(ngModel)]="signupObj.password"
                required="required"
              />
            </div>
          </div>
        </div>
        <button class="btn solid" type="button" class="btn" (click)="onSignup()">
          Sign up
        </button>
        <!-- Error message for username -->
        <div *ngFor="let errorMessage of errorMessages" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Find The Job That Fits Your Life</h3>
        <br />
        <button class="btn transparent" (click)="signUp()">Sign up</button>
      </div>
      <img src="assets/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Hello, what would you like to explore today?</h3>
        <br />
        <button class="btn transparent" (click)="signIn()">Log in</button>
      </div>
      <img src="assets/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
