<div class="wrapper">
    <div class="wrapper-inner">
        <div class="box-wrapper">
            <div class="box">
                <div class="avatar">
                    <img src="assets/4.png">
                </div>
                <div class="box-inner">
                    <h3 class="name">{{ user.name }}</h3>
                    <h4 class="email">{{ user.email }}</h4>
                    <p class="location"><i class="fa fa-map-marker"></i>Tallinn, Estonia</p>
                    <h3 class="Orders">212,491 Orders</h3>
                </div>
                <ul class="social-list">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-pinterest"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>