<div class="container-sm">
    <br/><br/><br/>
    <div class="row">
      <div class="col-sm-3 form-inline">
        <label for="sortField">Sort by:</label>
        <select class="form-control" id="sortField" [(ngModel)]="sortField" (ngModelChange)="onSortChange()">
          <option value="id">Id</option>
          <option value="name">Name</option>
          <option value="email">Email</option>
          <option value="phone">Phone</option>
        </select>
      </div>
      <div class="col-sm-3 form-inline">
        <label for="sortOrder">Order:</label>
        <select class="form-control" id="sortOrder" [(ngModel)]="sortOrder" (ngModelChange)="onSortChange()">
          <option value="ASC">Ascending</option>
          <option value="DESC">Descending</option>
        </select>
      </div>
      <div class="col-sm-2 form-inline">
        <label for="perPage">Limit:</label>
        <select class="form-control" id="perPage" [(ngModel)]="perPage" (ngModelChange)="onPerPageChange()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-sm-4 form-inline">
        <div class="filter-bar text-right">
          <div class="element-search autosuggest-search-activator">
            <input placeholder="Start typing to search..." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container-fluid">
      <div class="thead">
        <div class="row justify-content-md-center" id="row-thead">
            <div class="col">
                <h6>Image</h6>
            </div>
            <div class="col col-4">
                <h6>Id</h6>
            </div>
            <div class="col">
                <h6>Name</h6>
            </div>
            <div class="col">
                <h6>Email</h6>
            </div>
            <div class="col">
                <h6>Phone</h6>
            </div>
        </div>
      </div>
      <div class="tbody" id="tbody">
        <div class="row justify-content-md-center" *ngFor="let user of filteredUsers; let i = index">
            <div class="col">
              <img class="row-profile" src="assets/{{ i + 1 }}.png">
            </div>
            <div class="col col-4">
              <p>{{ user.id }}</p>
            </div>
            <div class="col">
              <p>{{ user.name }}</p>
            </div>
            <div class="col">
              <p>{{ user.email }}</p>
            </div>
            <div class="col">
              <p>{{ user.phone }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
